body {
  margin: 0;
  padding: 0;
  font-family: 'Sansita Swashed', cursive;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style-type: none;
}

nav {
  width: 100%;
  height: 80px;
  color: var(--text);
  background: var(--bg-nav);
  display: flex;
  /* background: linear-gradient(90deg, hsla(60, 3%, 45%, 1) 0%, hsla(0, 0%, 2%, 1) 100%);  display: flex; */
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 100%;
}

.theme-list {
  display: flex;
  z-index: 2;
  opacity: 0;
  background: var(--bg-logo);
  color: var(--text);
  position: absolute;
  width: 300px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3em;
  margin-top: 2rem;
  padding: 0.5rem;
  transform: translateX(-40%);
  transform: opacity .15s ease- out;
}

.has-theme-list:focus-within .theme-list {
  opacity: 1;
  pointer-events: auto;
}

.theme-list-item a {
  width: 100%;
  height: 100%;
  size: 0.7em;
  padding-left: 10px;
  font-weight: bold;
}

.theme-list-item a::before {
  content: ' ';
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.logo {
  width: 50%;
  height: 300px;
  margin: auto;
  text-align: center;
  padding: 1em;
  /* background: linear-gradient(90deg, hsla(150, 8%, 90%, 1) 0%, hsla(184, 71%, 18%, 1) 100%); */  
  /* clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0); */
}

img {
  width: 250px;
  height: 200px;
}

.main-section {
  width: 80%;
  margin: 1em auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 3em;
}

footer {
  height: 70px;
  background: var(--bg-nav);
  color: var(--text);
  width: 100%;
  display: flex;
  margin: 0;
  display: flex;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
}

:root {
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #454e56;
  --gray4: #2a2e35;
  --gray5: #12181b;
  --green: rgb(0, 128, 0);
  --purple: #a82dd1;
  --orange: rgb(240, 158, 6);
}

.light {
  --bg: var(--gray1);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray1);
  --text: var(--gray5);
  --border-color: var(--green);
  --bg-solar: var(--orange);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray4), var(--gray5));
  --bg-dropdown: var(--gray5);
  --text: var(--gray1);
  --border-color: var(--purple);
  --bg-solar: var(--green);
}

.solar {
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
}

.dark::before {
  background: #2a2e35;
}

.light::before {
  background: #ffffff;
}

.solar::before {
  background: var(--bg-solar);
}
